body {
  font-family: Arial;
  background: #f4f4f4;
}

.login-box, .upload-box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 40px auto;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

header {
  background: #333;
  color: white;
  padding: 10px;
}

.note {
  background: white;
  padding: 10px;
  margin: 10px;
}
