/* ============================= */
/* NOTES THEME BACKGROUND */
/* ============================= */

.bg-notes {
  min-height: 100vh;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("https://images.unsplash.com/photo-1517842645767-c639042777db");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Card readability on background */
.card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}

body {
  font-family: Arial;
  background: #f4f4f4;
  body {
  transition: background 0.4s ease, color 0.4s ease;
}
}

.login-box, .upload-box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 40px auto;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

header {
  background: #333;
  color: white;
  padding: 10px;
}

.note {
  background: white;
  padding: 10px;
  margin: 10px;
}

/* ============================= */
/* DARK MODE */
/* ============================= */

.dark {
  color: white;
}

.dark .card {
  background: rgba(30, 30, 30, 0.95);
  color: white;
}

.dark input,
.dark select,
.dark textarea {
  background: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

.dark input::placeholder,
.dark textarea::placeholder {
  color: #bbb;
}

.dark .btn-primary {
  background-color: #0d6efd;
}

.dark .btn-danger {
  background-color: #dc3545;
}
/* DARK MODE BACKGROUND OVERRIDE */
.dark.bg-notes {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("https://images.unsplash.com/photo-1517842645767-c639042777db");
}

